*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: #d5e1ef;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  min-block-size: 100vh;
  gap: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  max-inline-size: 320px;
  background-color: #fff;
  box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.0477);
  border-radius: 20px;
  gap: 24px;
  padding: 16px 16px 40px;
}

.qr-code {
  inline-size: 100%;
}

.qr-code-image {
  display: block;
  inline-size: 100%;
  block-size: auto;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

.qr-code-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 16px;
}

.qr-code-title {
  color: #1F314F;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}

.qr-code-text {
  color: #68778D;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.2px;
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.attribution a:hover {
  color: hsl(228, 70%, 60%);
}
