@font-face {
    font-family: 'Outfit';
    src: url('Outfit-Regular.woff2') format('woff2'),
        url('Outfit-Regular.woff') format('woff'),
        url('Outfit-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('Outfit-Bold.woff2') format('woff2'),
        url('Outfit-Bold.woff') format('woff'),
        url('Outfit-Regular.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
